body, html{
	background-color:#000000;
	height:95%;
	width:100%;
	margin:0;
	padding:0;
	overflow-x:hidden!important;
	overflow-y:hidden!important;
}
iframe{
	overflow-x:hidden!important;
	overflow-y:hidden!important;
}