A {COLOR: #191970; TEXT-DECORATION: none}
A:link {COLOR: #191970; TEXT-DECORATION: none}
A:hover {COLOR: #ff0000}
.text1 {FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: tahoma,Arial, Helvetica, sans-serif}
INPUT {BORDER-RIGHT: #bfd8ef 1px solid; BORDER-TOP: #bfd8ef 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #bfd8ef 1px solid; COLOR: #000000; }
